body {
  background-color: rgb(152, 182, 238);
  font-family: 'Roboto Condensed', sans-serif;
}
.general-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.likes-container {
  width: 680px;
  height: 490px;
  background: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -350px;
  margin-top: -300px;
  display: none;
  overflow-x: hidden; 
  overflow-y: scroll;
  z-index: 2;
}
.likes-container-body {
  width: 660px;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}
.likes-img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 10px 10px;
  position: relative;
}
.likes-container-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 14px;
}
.delete-img {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #fff;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.likes-header-title {
  font-size: 25px;
}
.likes-header-icon {
  cursor: pointer;
  font-size: 25px;
}
.box-container {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.box {
  width:200px;
  padding: 16px 16px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow:1px 1px 30px 0px rgba(50, 50, 50, 0.68);
  border-radius: 4px;
  margin: 30px;
}
.box:hover {
  box-shadow:1px 1px 30px 0px rgba(50, 50, 50, 1);
}
.box img {
  height: 100%;
  border-radius: 8px;
}
.click-fav {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.check  {
  color: #43ca96;
}
.times {
  color: #ff7b50;
}
.click-fav a i {
  font-size: 40px;
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 41px;
  margin-top: 28px;
}
.fa-heart {
  color: rgb(243, 170, 182);
  padding-right: 10px;
}
.backdrop {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1;
}
@media (max-width: 800px) {
  .likes-container{
    max-width: 83%;
  }
}